        <%- include("../partials/head1.ejs",{pageTitle: "Carrito de compras" })%>
    <link rel="stylesheet" href="css/acceso.css">
    <%- include("../partials/head2.ejs") %>

        <body>
            <header>
                <%- include("../partials/barraNav.ejs") %>
            </header>
            <main>
            <br>
                <img src="/img/middleware/accesodenegado3.jpg" alt="">
            </main>
            <%- include("../partials/footer.ejs") %>
        </body>

        </html>