<%- include("../partials/head1.ejs",{pageTitle: "Carrito de compras" })%>
    <link rel="stylesheet" href="/css/carrito.css">
    <%- include("../partials/head2.ejs") %>

        <body>
            <header>
                <%- include("../partials/barraNav.ejs") %>
            </header>
            <br>
            <main>
                <div class="titulo">
                    <h2>EL CARRITO SE ENCUENTRA VACIO</h2>
                </div><br>
            </main>
            <br>
            <%- include("../partials/footer.ejs") %>
        </body>

        </html>