.contenedorPrincipal{
    background: linear-gradient(45deg, #FAAD29, #3A0357);
    height: 100vh;
}
.contenedorSecundario{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 1rem;

}
form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.tarjeta{
    background: white;
    padding: 3rem;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 55%);
}

.tarjetaUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    margin: 1%
}
.correo{
    display: flex;
    flex-direction: column;
}

.editarBoton{
    background-color: #3A0357;
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 2rem;
    font-family: "Brother", sans-serif;
    font-size: 1rem;
}

body section a{
    width: 100%;
    text-align: center;
}

.imgPerfil{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.textoPrincipal{
    font-size: 3.5rem;
}

.textoSecundario{
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
}
.box4{
    display: none;
}

main input{
    width: 50%;
    height: 2rem;
    padding-left: 1%;
    font-family: "Brother", sans-serif;
    font-size: 1rem;
    margin-bottom: 4%
}

.peligro-error{
    color: red;
    font-size: 1rem;
}
